@font-face {
    font-family: PTSans;
    src: url(fonts/pt.ttf);
}

@font-face {
	font-family: PTSansBold;
	src: url(fonts/ptbold.ttf);
}

html
{
	color: white;

}

h1
{
  background-color: black;
  font-size: 120%;
  margin:0;
}

body, #menu-container
{
	margin: 0 auto;
	font-size:17px;
	font-family:PTSans, Arial;
	background-color: #000066;
}

a
{
	color: yellow;
}

a:hover
{
	background-color:black;
	color:white;
}

a:active
{
	border: none;
	background-color:#559
}

input
{
	color: black;
	background-color:none;
	font-family:PTSans;
}

table
{
	width: 100%;
}

table, th, td
{
	font-family:PTSans;
	text-align:left;
  width:100px;

}

td
{
	word-wrap:break-word;
	word-break:break-all;
}

th
{
	background-color:#888888;
	color:white;
	min-width:30px;
}


td:

td:nth-child(3n+0)
{
	text-align:center;
}

.yes
{
	background-color: #B4E7A7;
	text-align:center;
}

.button, .blue-button, .big-button
{
	background-color: #b3b3cc;
	display:block;
	padding: 5px;
	margin: 5px 0 5px 0;
	color:black;
	font-size:90%;
	border: 1px #0a0a0f solid;
	text-align:center;
}

.big-button
{
	margin: 0 auto;
	font-size: 130%;
	color: black;
	width:75%;
}

.big-button:hover
{
	background-color: #33334c;
	color: white;
}

#console
{
	position:fixed;
	bottom: 1px;
	bottom: 1px;
	right: 10vw;
	padding: 5px;
	border: 1px black solid;
	background-color:#F0E6DF;
}

#log
{
	width: 50vw;
}

#console-toggle-button
{
	float: right;
}

#topbar
{
	font-size:115%;
	background-color:white;
	width: 100%;
	height:30px;
	margin-bottom: 10px;
	overflow:hidden;
}

#contents
{
	background-color:#d1d1e1;
	padding: 10px 0 10px 0;
}

#ticker-contents, #ticker-contents2
{
	width:100%;
	overflow:hidden;
	padding: 0;
	margin: 0;
}

.inline-link
{
	padding: 0 0 0 5px;
	display:inline;
	font-weight:bold;
}

.button:hover
{
	background-color: #88f;
}

.error
{
	background-color:red;
	color:white;
}

.blue-button
{
	background-color:#4545FF;
	max-width:100px;
}

a
{
text-decoration:none;
}

p
{
	margin : 0;
	padding: 0;
}

#bottombar
{
	position: fixed;
	bottom: 0px;
	width: 100%;
}

#commands
{
  position: absolute;
  right: 1px;
  z-index: 55;
  opacity: 0.1;
  background-color: black;
}

#commands:hover
{
  opacity: 0.9;
}

img
{
}

.photoDesc
{
  position: absolute;
  background-color: black;
  overflow:hidden;
  z-index: 50;
  padding-top:0;
  height:0;
}

td:hover .photoDesc
{
  height: auto;
  margin-top: 16vh;
}

#photoCanvas
{
  background-color: black;
  width:100vw;
  height:100vh;
  opacity: 0;
  top: 0px;
}

#photoViewer
{
  z-index: -1;
  position: fixed;
  opacity: 100%;
}

#photoViewer a
{
  background-color:transparent;
}

#photoViewer a:hover
{
  background-color: black;
}

#photoViewerCommands
{
  position: absolute;
  width:100%;
}

#albumViewerCommands
{
  display:none;
  position:relative;
  z-index: inherit;
}

#title
{
  display: fixed;
}

#descriptionBox, #descriptionBoxRight
{
  background-color: black;
  position:absolute;
  bottom:1px;
}

#descriptionBoxRight
{
  right: -1px;
}

#photoTitle
{
  font-size: 150%;
}

.rightCommands
{
  float: right;
}

.imgrow td
{
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
  width:19vw;
  height:19vh;
  max-width: 10%;
}

table
{
  width: 90%;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    color: black;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
#closeModal {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#closeModal:hover,
#closeModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.searchable:hover {
  background-color: #5cb85c;
}
